:root {
    --white: #fff;
    --black: #1D232B;
    --light-black: #313B49;
    --grey: #5A6B87;
    --light-grey: #919EB6;
    --bg-grey: #F7F8FA;
    --border-grey: #CED3DE;
    --green: #01B99F;
    --off-white: #f1f1f1;
}